.cart {
  width: 80%;
  margin: auto;
  text-align: center;

  ibm-tile {
    text-align: center;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      margin: auto;
    }
  }
}

.checkout-form {
  width: 50%;
  margin: auto;
  padding-top: 100px;
}

.empty-cart {
  margin-top: 20px;
}

.header {
  margin: auto;
}

.purchase-button {
  margin-top: 20px;
}

form {
  text-align: center;
}
